# Firebase Config (SENSITIVE!)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Build files
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# IDE
.idea/
*.iml
*.local.properties

# Secrets
*.env
